<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('bundles/dvdworld/images/favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('bundles/dvdworld/images/favicon/favicon.ico') }}" type="image/x-icon">

    <title>{% block title %}Strona domowa{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/dvdworld/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/dvdworld/css/shop-homepage.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/dvdworld/js/cookie.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#counter").text(getNumberOfCookies());
        });
    </script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}">Strona domowa</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="shopping_cart_circle">
                    <div id="counter"><a href="{{ path("cart") }}">0</a></div>
                </li>
                <li id="shopping_cart_image">
                    <a href="{{ path("cart") }}">
                    <img height="32" width="32"
                         src="{{ asset('bundles/dvdworld/images/shopping-cart-icon.png') }}"/>
                    </a>
                </li>
                    {% if app.user %}
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a>
                        </li>
                        <li>
                            <a href="{{ path('myOrders') }}">Moje filmy</a>
                        </li>
                         <li>
                            <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
                        </li>
                    {% else %}
                      <li>
                        <a href="{{ path('fos_user_registration_register') }}">Rejestracja</a>
                      </li>
                      <li>
                        <a href="{{ path('fos_user_security_login')}}">Zaloguj się</a>
                      </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        {% block genreList %}
                <div class="col-md-3">
                    <p class="lead">Wybierz gatunek:</p>
                    <div class="list-group">
                        <select class="list-group-item"  onchange='window.location.href=this.value'>
                            {% for genre in genres %}
                                <option value="http://localhost/website/web/app_dev.php/genres/{{ genre.getGenre }}/movies">{{ genre.getGenre }}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>
        {% endblock %}

        <div class="col-md-9">
            {% block carousel%}
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="{{ path('singleMovie', {'id': 5}) }}">
                                    <img class="slide-image" src="{{ asset('bundles/dvdworld/images/carousel/rocky.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="{{ path('singleMovie', {'id': 8}) }}">
                                    <img class="slide-image" src="{{ asset('bundles/dvdworld/images/carousel/the_illusionist.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="{{ path('singleMovie', {'id': 2}) }}">
                                    <img class="slide-image" src="{{ asset('bundles/dvdworld/images/carousel/the_last_samurai.jpeg') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            {% endblock %}
        {% block movieBlock %}{% endblock %}

        </div>
    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; www.dvdworld.com</p>
            </div>
        </div>
    </footer>

</div>

<!-- jQuery -->

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/dvdworld/js/bootstrap.min.js') }}"></script>

</body>

</html>
